/* section 1 */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
  width: 100%;

}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: monument;
}
/* section 0 */
/* nav{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 1;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6d3a3;
  padding: 0 1rem;
  width: 100%;
}

.logo {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ddd;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.nav-links a:hover {
  color: black;
  transform: scale(1.1);
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
  background: black;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    gap: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-links li {
    padding: 0.5rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .logo {
    width: 120px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }

  .nav-links {
    gap: 0.3rem;
  }

  .nav-links a {
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 350px) {
  .navbar {
    padding: 0.5rem;
  }

  .nav-links {
    gap: 0.2rem;
  }

  .nav-links a {
    font-size: 0.6rem;
    padding: 0.2rem;
  }

  .logo {
    width: 80px;
  }
}








/* section1 */
#main {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6d3a3;


}

#main img {
  height: 600px;
  width: 510px;
  position: relative;
  z-index: 99;
  object-fit: cover;
  transition: transform 0.1s ease;
  border-radius: 2%;
  ;
}

#main img:hover {
  transform: rotate(5deg);
}

#scroll-div {
  position: absolute;
  top: 20%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div::-webkit-scrollbar {
  display: none;
}

#scroll-div h1 {
  display: inline-block;
  font-size: 140px;
  font-family: monument;
  margin-right: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #0d1010;
}

/* sc2 */
#scroll-div2 {
  position: absolute;
  top: 40%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
}

#scroll-div2::-webkit-scrollbar {
  display: none;
}

#scroll-div2 h1 {
  display: inline-block;
  font-size: 140px;
  font-family: monument;
  margin-right: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
  animation-name: scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* sc3  */

#scroll-div3 {
  position: absolute;
  top: 60%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div3::-webkit-scrollbar {
  display: none;
}

#scroll-div3 h1 {
  display: inline-block;
  font-size: 140px;
  font-family: monument;
  margin-right: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  color: #91972a;
}

#text {
  font-size: 35px;
  position: absolute;
  font-family: "Lora", serif;
  width: 60%;
  /* background-color: red; */
  z-index: 999;
  text-align: center;
  top: 16%;
  text-transform: uppercase;
  color: #6f1a07;

}

@keyframes scroll {
  0% {
    transform: translateX(calc(-100% - 32px));
  }

  100% {
    transform: translateX(0);
    /* Move left to hide */
  }
}

/* body and all not for nav till day 1 of dev media query */
/* Media Queries */
@media (max-width: 1200px) {

  #scroll-div h1,
  #scroll-div2 h1,
  #scroll-div3 h1 {
    font-size: 100px;
  }
}

@media (max-width: 992px) {
  #main img {
    height: 500px;
    width: 400px;
  }

  #scroll-div h1,
  #scroll-div2 h1,
  #scroll-div3 h1 {
    font-size: 80px;
  }

  #text {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #main img {
    height: 400px;
    width: 320px;
  }

  #scroll-div h1,
  #scroll-div2 h1,
  #scroll-div3 h1 {
    font-size: 60px;
  }

  #text {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  #main img {
    height: 700px;
    width: 360px;
  }

  #scroll-div h1,
  #scroll-div2 h1,
  #scroll-div3 h1 {
    font-size: 100px;
  }

  #text {
    font-size: 35px;
    position: absolute;
    top: 30px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  #main img {
    height: 600px;
    width: 360px;
  }

  #scroll-div h1,
  #scroll-div2 h1,
  #scroll-div3 h1 {
    font-size: 100px;
  }

  #text {
    font-size: 25px;
    position: absolute;
    top: 20px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
}
/* SECTION 2 DAY 2 */

/* Parallax effect and layout */
.parallax {
  background-image: url('https://images.pexels.com/photos/974382/pexels-photo-974382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Lora', serif;
  
}
/* added video wpi */


.header-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: 'Bona Nova SC', serif;
}

.header-content h2 {
  font-size: 2em;
  margin-bottom: 1em;
  font-family: "Oswald", sans-serif;
}

.cta-button {
  padding: 0.5em 1.5em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: "Lora", serif;
  border: 3px solid #a3a83a;
  font-size: 20px;
  background-color: #ad5946;
  transition: all 0.2s;
}

.cta-button:hover {
  animation: pulsate 1s ease-in-out, shake 0.5s;
}

@keyframes pulsate {
  0%, 100% {
    box-shadow: 
      0 0 25px #e6d3a3,
      0 0 50px #949a2b;
  }
  50% {
    box-shadow: 
      0 0 5px #e6d3a3,
      0 0 10px #949a2b;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Apply the animation on hover */


.social-media {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  background-color: white;
}

.social-media a {
  margin: 0 1em;
}

.social-media a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.3s; /* Smooth transition for transform */
}

.social-media i {
  font-size: 24px;
  color: #000;
  transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
}

.social-media i:hover {
  color: #0073e6; /* Change the color on hover */
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
}

/* .social-media img {
  width: 40px;
  height: 40px;
} */

/* Ensure parallax effect does not interfere with existing styles */
body {
  overflow-x: hidden;
  font-family: 'Lora', serif;
}

@media (max-width: 1200px) {
  .parallax h1 {
    font-size: 2.5em;
  }

  .parallax h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 992px) {
  .parallax h1 {
    font-size: 2em;
  }

  .parallax h2 {
    font-size: 1.5em;
  }

  .cta-button {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .parallax h1 {
    font-size: 1.75em;
  }

  .parallax h2 {
    font-size: 1.25em;
  }

  .cta-button {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .parallax h1 {
    font-size: 1.5em;
  }

  .parallax h2 {
    font-size: 1em;
  }

  .cta-button {
    font-size: 0.7em;
  }
}

@media (max-width: 400px) {
  .parallax h1 {
    font-size: 1.25em;
  }

  .parallax h2 {
    font-size: 0.9em;
  }

  .cta-button {
    font-size: 0.6em;
  }
}

/* Section 3 */

.menu-container {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  font-family: 'Lora', serif;
}

.menu-container h1 {
  font-family: 'Bona Nova SC', serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #6f1a07;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-item {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.menu-item p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #6f1a07;
  cursor: pointer;
}

.menu-item p:hover{
  color: #b0604f;
}

.menu-item:hover {
  transform: translateY(-10px);
}

/* Media Queries */
@media (max-width: 992px) {
  .menu-item {
    width: 130px;
  }

  .menu-container h1 {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .menu-item {
    width: 110px;
  }

  .menu-container h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 576px) {
  .menu-item {
    width: 90px;
  }

  .menu-container h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  .menu-item {
      width: 45%;
  }
}

@media (max-width: 480px) {
  .menu-item {
      width: 90%;
  }
}

/* section 4 */
/* SIP DEALS OF THE DAY */
/* Main Styles */
.deals-container {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  font-family: 'Lora', serif;
}

.deals-container h1 {
  font-family: 'Bona Nova SC', serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #6f1a07;
}

.deals-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  background-color: #e6d3a3;
}

.deal-item {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px; /* Fixed width for all cards */
  text-align: center;
  scroll-snap-align: center;
}

.deal-item img {
  width: 100%;
  height: 200px; /* Fixed height for images */
  border-radius: 10px;
  object-fit: cover; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
}

.deal-item img:hover {
  transform: translateY(10px);
}

.deal-item p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #6f1a07;
}

.deal-item .order-now {
  display: block;
  margin: 10px 0;
  font-size: 1em;
  color: #000;
}

.deal-item .deal-code {
  display: block;
  margin: 10px 0;
  font-size: 1em;
  color: #1417f4;
  font-weight: bold;
}

.deal-item .order-now {
  color: #fff;
  background-color: #91972a;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.deal-item .order-now:hover {
  background-color: #d0d562;
}

.explore-menu {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.explore-menu:hover {
  background-color: #e8a136;
}

/* Media Queries */
@media (max-width: 992px) {
  .deals-items {
    flex-direction: column;
    align-items: center; /* Center the cards */
  }

  .deal-item {
    width: 90%; /* Ensure all cards have the same width */
    margin-bottom: 20px;
  }

  .deals-container h1 {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .deal-item {
    width: 80%;
  }

  .deals-container h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 576px) {
  .deal-item {
    width: 90%;
  }

  .deal-item p,
  .deal-item .deal-code,
  .deal-item .order-now {
    font-size: 0.8em;
  }

  .deal-item .order-now {
    padding: 3px 5px;
  }

  .deals-container h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .deal-item {
    width: 100%;
    padding: 5px;
  }

  .deal-item p,
  .deal-item .deal-code,
  .deal-item .order-now {
    font-size: 0.8em;
  }

  .deal-item .order-now {
    padding: 3px 5px;
  }

  .deals-container h1 {
    font-size: 1.25em;
  }
}


/* section 5 */

/* Video Section */
.video-section {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.video-heading{
  color: white;
}

@media (max-width: 1200px) {
  .video-section {
    height: 80vh;
  }
}

@media (max-width: 992px) {
  .video-section {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .video-section {
    height: 50vh;
  }

  .video-heading {
    font-size: 2.5em;
  }
}

@media (max-width: 576px) {
  .video-section {
    height: 40vh;
  }

  .video-heading {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .video-section {
    height: 30vh;
  }

  .video-heading {
    font-size: 1.5em;
  }
}
/* end */

/* section 6 */
/* 
a:link, a:active, a:visited, a:hover {
  color: #3f51b5;
} */

.outerdiv {
  
  background: #e6d3a3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerdiv {
  transform: scale(0.8); /* Further reduce the scale */
  margin: 1rem;
  display: grid;
  grid-gap: 1rem; /* Reduce the gap between grid items */
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto); /* Adjusted to auto width */
}

.eachdiv {
  padding: 0.5rem 0.8rem; /* Adjusted padding */
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px rgba(109, 109, 109, 0.4);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eachdiv:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px rgba(109, 109, 109, 0.5);
}

.div1 {
  background: #733FC8;
  grid-column: span 2; /* Span across two columns */
  grid-row: 1; /* Span across one row */
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 15rem; /* Adjusted position */ 
}

.div2 {
  background: #49556B;
  grid-column: 3; /* Grid column position */
  grid-row: 1; /* Grid row position */
}

.div3 {
  background: white;
  grid-column: 4; /* Grid column position */
  grid-row: span 2; /* Span across two rows */
  color: black;
}

.div4 {
  background: white;
  grid-column: 1; /* Grid column position */
  grid-row: 2; /* Grid row position */
  color: black;
}

.div5 {
  background: #18202D;
  grid-column: span 2; /* Span across two columns */
  grid-row: 2; /* Grid row position */
}

.userdetails {
  display: flex;
  align-items: center; /* Align items in flex container */
}

.imgbox {
  margin-right: 0.3rem; /* Adjusted margin */
}

.imgbox img {
  border-radius: 50%;
  width: 1.5rem; /* Reduced image size */
  border: 2px solid #cec5c5;
}

.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detbox p {
  margin: 0;
  font-size: 150px;
  font-family: "Lora", serif;
}

.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  /* Adjusted font size */
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
  /* Adjusted font size */
}

.review p {
  font-size: 0.9rem;
  /* Adjusted font size */
  color: #F3DEFF;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}

.detbox .name.dark {
  color: #49505A;
}

.detbox .designation.dark {
  color: #49505A;
}

.review h4 {
  font-size: 1rem; /* Adjusted font size */
  color: #F3DEFF;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem; /* Reduced margin */
}

.review.dark h4 {
  color: #4B5258;
}



.review.dark p {
  color: #0e0e0e;
}

.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}

.attribution a {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .innerdiv {
      transform: scale(0.6); /* Further reduce scale */
  }
}

@media only screen and (max-width: 800px) {
  .innerdiv {
      transform: scale(0.5); /* Further reduce scale */
  }
}

@media only screen and (max-width: 600px) {
  .div1 {
      background-position-x: 8rem; /* Adjusted position */
  }
  .innerdiv {
      display: flex;
      flex-direction: column;
      transform: scale(1);
      margin: 1rem;
      margin-bottom: 5rem;
  }
  .attribution {
      position: relative;
  }
}
/* added heding */
#testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6d3a3;
  padding-top: 20px;
}

/* section 7 */

/* .container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #ce4d31;
	padding: 70px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #91972a;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
} */

.footer {
    background-color: #ce4d31;
    color: #fff;
    padding: 40px 0;
}

.footer .container {
    max-width: 1170px;
    margin: auto;
}

.footer .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer .footer-col {
    flex: 1;
    min-width: 200px;
    margin: 15px 10px;
}

.footer .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer .footer-col ul {
    list-style: none;
    padding: 0;
}

.footer .footer-col ul li {
    margin-bottom: 10px;
}

.footer .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}

	.footer-col h4 {
		text-align: center;
		/* Center align the h4 element */
	}

	.footer-col h4::before {
		left: 50%;
		transform: translateX(-50%);
		/* Center align the ::before element */
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
		text-align: center;
	}

	/* added wip */
	.footer-col h4 {
		text-align: center;
		/* Center align the h4 element */
	}

	.footer-col h4::before {
		left: 50%;
		transform: translateX(-50%);
		/* Center align the ::before element */
	}
}

/* added wip */

.logo-col {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.footer-logo {
	max-width: 150px;
	/* Adjust size as needed */
	display: block;
	margin: 0 auto;
}

/* Make the footer responsive */
@media (max-width: 768px) {
	.footer-col {
		width: 50%;
	}

	.logo-col {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.footer-col {
		width: 100%;
	}
}

